// Course summary aka cards (on /:username)
.course-summary {
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
}

.course-summary-body-title {
  margin-top: 0;
  font-size: 26px;
}

// Course single view (on /:username/:courseId)
.course-single-section {
  h3 {
    margin-top: 10px;
    margin-left: 10px;
    color: $text-color;
  }

  p {
    color: $text-color;
    padding-left: 12px;
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
