// Course summary aka cards (on /:username)
.course-summary {
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
}

.course-summary-icon {
  font-size: 86px;
  display: flex;
  margin-right: 20px;
  align-items: center;
  opacity: 0.7;
  transition: opacity 0.1s ease;

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}

.course-summary-icon {
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.course-summary-body-title {
  margin-top: 0;
  font-size: 22px;
}

// Course single view (on /:username/:courseId)
.course-single-section {
  h3 {
    margin-top: 0;
    color: $text-color;
  }

  p {
    color: $text-color;
    padding-left: 12px;
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
