html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 50px;
  padding-top: 50px;
}

// Navbar
.logo {
  height: 30px;
  position: relative;
  top: -5px;
}

// Page sections
.section-header {
  background-color: $brand-primary;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.section-header-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.section-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-body-title {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 16px;
}

.section-simple {
  padding-top: 50px;
}

.share-wrapper {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Footer
footer {
  color: #bbb;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}
