extends layout

block content
  .container
    .row
      .col-md-12
        .jumbotron
          h1 #{title}
          p Why should teaching be a profession?
          p Find a course that seems cool and follow it.
          p Do you think you can teach it better than your teacher?
