extends layout

block content
  .container
    .row
      .col-md-12
        .jumbotron
          h1 Fondi
          p Why should teaching be a profession?
          p Create a course. Follow another. 
