extends layout

block content
  .jumbotron
    .container
      //- h1 Fondi
      img(src="img/logo.png", alt="logo", height="200px", style="margin-bottom: 50px;")
      p Why should teaching be a profession?
      p Create a course. Follow another. 
  .container
    .row
      .col-md-3.col-md-offset-9
        .panel.panel-default
          .panel-heading
              h3.panel-title My projects
            .panel-body
              ul
                li Classical Inheritance in Javascript
                li Convolutional neural networks
                li Algorithmic music composition
                li Advanced React Patterns
