doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,300")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/style.css")
      
    title #{title}
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img(src="/img/mark_white.png", alt="logo").logo
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/new") Create course
            li
              a(href="/courses") My courses
            li
              a(href="/join") Sign up
            li
              a(href="/login") Sign in
    block content
    
    script(src="/js/bundle.js")
    
