doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon", sizes="180x180", href="/img/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/img/favicon/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/img/favicon/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/img/favicon/manifest.json")
    link(rel="mask-icon", href="/img/favicon/safari-pinned-tab.svg", color="#20c997")
    link(rel="shortcut icon", href="/img/favicon/favicon.ico")
    meta(name="msapplication-config", content="/img/favicon/browserconfig.xml")
    meta(name="theme-color", content="#20c997")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,300")
    link(rel="stylesheet", href="/css/style.css")

    title #{title}
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img(src="/img/logo.png", alt="logo").logo
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            if !authed
              li
                a(href="/join") Sign up
              li
                a(href="/login") Sign in
            else
              li
                a(href="/new") Create course
              li
                a(href="/" + username) My courses
              li
                a(href="/logout") Log out

    block content

    footer.sticky
      .container
        .row
          .col-md-6
            p Code licensed under&nbsp;
              a(href="https://github.com/sirodoht/fondi/blob/master/LICENSE", target="_blank") MIT
          .col-md-6
            p.text-right
              a(href="https://github.com/sirodoht/fondi", target="_blank") Source code


