doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/style.css')
  body
    .container
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Fondi
          .navbar-collapse.collapse
            form.navbar-form.navbar-left(role='search')
              .form-group
                input.form-control(type='text', placeholder='Search')
            ul.nav.navbar-nav
              li
                a(href='#explore') Explore
            ul.nav.navbar-nav.navbar-right
              //- li
                a(href='#create') Create
              li
                button.btn.btn-primary.navbar-btn(type='button') Create
              li
                a(href='#profile') Profile
              li
                a(href='/join') Sign up
              li
                a(href='/login') Sign in
    block content
