extends layout

block content
  .container
    .row
      .col-md-3
        img(src="#{img}")
        h1 #{name}
        h2 #{username}
        h3 #{email}
      .col-md-9
        h3 Courses I curate
