extends ../layout

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        h1.text-center Edit course #{ name }
        hr
        table.table.table-hover
          thead
            tr
              th #
              th First Name
              th Last Name
              th Username
          tbody
            tr
              th 1
              td Mark
              td Otto
              td @mdo
            tr
              th 2
              td Jacob
              td Thornton
              td @fat
            tr
              th 3
              td Larry
              td the Bird
              td @twitter
