extends ../layout

block content
  .section-header
    .container
      .row.vertical-align
        .col-md-9
          .section-header-title
            h2 Section title
        .col-md-3
          .row
            .col-md-6.col-md-offset-5
              a(href="").btn.btn-block.btn-primary Save
  .section-body
    .container
      .row
        .col-md-9
          .single
            p.lead Section description
            form.form-horizontal(action="/courses/#{courseId}", method="POST")
              fieldset
                .form-group
                  label.col-md-4.control-label(for="title") Title
                  .col-md-4
                    input.form-control.input-md(name="title", required, type="text")
                .form-group
                  label.col-md-4.control-label(for="content") Content
                  .col-md-4
                    input.form-control.input-md(name="content", required, type="text")
                .form-group
                  .col-md-4.col-md-offset-4
                    button.btn.btn-primary Create new section


        //- .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              .panel-title #{username}
            .panel-body #{username} is an ipsum dolor sit amet, consectetur
