extends ../layout

block content
  .section-header
    .container
      .row.vertical-align
        .col-md-9
          .section-header-title
            h2#title(contenteditable) Title...
        .col-md-3.text-right
          a(href="/" + username + "/" + courseSlug).btn.btn-sm.btn-primary Back
          a#save(href="#" style="margin-left: 20px; padding-left: 30px; padding-right: 30px;").btn.btn-primary Save
  .section-body
    .container
      .row
        .col-md-8.col-md-offset-2
          textarea#content.editor(placeholder="Maybe start with a story...")

  script.
    const endpoint = '/#{username}/#{courseSlug}';

    document.getElementById('save').addEventListener('click', () => {
      const title = document.getElementById('title').innerHTML;
      const content = document.getElementById('content').value;

      fetch(endpoint, {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          title,
          content,
        })
      })
      .then(data => {
        if (data.status === 200) {
          window.location = endpoint;
        }
      });

    });
