extends ../layout

block content
  .section-header
    .container
      .row.vertical-align
        .col-md-9
          .section-header-title
            h2#section-title Section title
        .col-md-3
          .row
            .col-md-6.col-md-offset-5
              a(href="#").btn.btn-block.btn-primary#saveEditorSection Save
  .section-body
    .container
      .row
        .col-md-8.col-md-offset-2
          #sectionEditor


        //- .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              .panel-title #{username}
            .panel-body #{username} is an ipsum dolor sit amet, consectetur

  script.
    const saveEndpoint = "/" + "#{username}" + "/#{courseId}";
