extends ../layout

block content
  .container-fluid
    .row
      aside.col-sm-2.col-md-2.sidebar
        ul.nav.nav-sidebar
          li
            a(href="/" + username + "/" + courseSlug) Back to Course
          hr
          each section in sections
            li
              a(href="/" + username + "/" + courseSlug + "/" + section.slug) #{section.title}
      .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.main
        h1.page-header #{currentSection.title}
        .trix-content !{currentSection.content}
      .col-sm-2.col-md-2
